---
layout: page
title: "About"
description: "Feel free to talk here."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 </option>
    <option value="1"> English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <p style="text-indent:2em">生于刘秀故里，求学于武昌，聚硕彦于一堂，凡名儒俊秀皆入学，天下大利必归农，四年求学，崇尚学术，热爱科研，狮子山下，锦绣繁华，然碌碌无为，遂求学于喻家山下，始难，终克服，潜心科研，以发表SCI为志向!</p>
    <b>教育经历:</b><br>
    华中农业大学&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    华中科技大学&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    <b>领域:</b>&nbsp;生物信息技术
    <br>
    <b>爱好:</b>&nbsp;喜欢折腾,看书，运动
    <br>
    <b>邮箱:</b>&nbsp;hzauwl@163.com
</div>

<!-- English Version -->
<div class="en post-container">
    <p>
        My name is Neio lei from Wuhan. Welcome to my blog.
    </p>
    <b>Education:</b>
    <br>
    HZAU&nbsp;&nbsp;&nbsp;&nbsp;<br>
    HUST&nbsp;&nbsp;&nbsp;&nbsp;<br>

    <b>Field of Research:</b>&nbsp;bioinformatics, ML
    <br>
    <b>Hobbies:</b>&nbsp;Reading, playing Games
    <br>
    <b>Email:</b>&nbsp;hzauwl@163.com
    
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
